/* Custom styles for larger screens (monitor) */
@media screen and (min-width: 2560px) {
  .home {
    background-image: url(./image/bg-image2.png);
    background-position: center;
  }
}
@media (min-height: 1080px) {
  .home {
    background-image: url(./image/bg-image2.png);
    background-position: center;
  }
}
/* macbook */
@media screen and (max-width: 1023px) {
}
